[submodule "bids-examples"]
	path = tests/bids-examples
	url = https://github.com/bids-standard/bids-examples.git
[submodule "neurobagel_examples"]
	path = tests/neurobagel_examples
	url = https://github.com/neurobagel/neurobagel_examples.git
[submodule "pipeline-catalog"]
	path = bagel/pipeline-catalog
	url = https://github.com/nipoppy/pipeline-catalog.git
[submodule "bagel/communities"]
	path = bagel/communities
	url = https://github.com/neurobagel/communities.git
